stages:
  - Puppet 3
  - Puppet 4
  - Puppet 5
  - push2github

14.04:puppet3:
  stage: Puppet 3
  image: scalecommerce/base:0.6
  script:
    - ./test/install.sh
    - puppet module install puppet-rundeck --version 4.0.0
    - puppet apply -v test/site.pp
    - "# waiting for rundeck to start ..."
    - sleep 60
    - inspec exec test/inspec/sc_rundeck.rb

16.04:puppet3:
  stage: Puppet 3
  image: scalecommerce/xenial:1.3
  script:
    - ./test/install.sh
    - puppet module install puppet-rundeck --version 4.0.0 --ignore-dependencies
    - puppet apply -v test/site.pp
    - "# waiting for rundeck to start ..."
    - sleep 60
    - inspec exec test/inspec/sc_rundeck.rb

14.04:puppet4:
  stage: Puppet 4
  image: scalecommerce/base:0.6
  script:
    - ./test/install-puppet4.sh
    - ./test/install.sh
    - export PATH=/opt/puppetlabs/bin:$PATH
    - puppet module install puppet-rundeck --version 4.0.1
    - puppet apply -v test/site.pp
    - sleep 60
    - inspec exec test/inspec/sc_rundeck.rb

16.04:puppet4:
  stage: Puppet 4
  image: scalecommerce/xenial:1.3
  script:
    - ./test/install-puppet4.sh
    - ./test/install.sh
    - export PATH=/opt/puppetlabs/bin:$PATH
    - puppet module install puppet-rundeck --version 4.0.1
    - puppet apply -v test/site.pp
    - sleep 60
    - inspec exec test/inspec/sc_rundeck.rb


push2github:
  stage: push2github
  script:
    - git push --mirror https://$GITHUB_TOKEN@github.com/ScaleCommerce/puppet-sc_rundeck.git
